@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-color: #E4E9F7;
  --sidebar-color: #fff;
  --primary-color: #1E56A0;
  --primary-color-light: #D6E4F0;
  --toggle-color: #DDDD;
  --text-color: #707070;

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

main {
  flex: 1;
}

body {
  height: 100vh;
  background: var(--body-color);
  transition: var(--tran-05);
}

body.dark {
  --body-color: #18191A;
  --sidebar-color: #242526;
  --primary-color: #3A3B3C;
  --primary-color-light: #3A3B3C;
  --toggle-color: #FFF;
  --text-color: #CCC;

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

/* SIDEBAR */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}

.sidebar.close {
  width: 88px;
}

/* REUSABLE CSS */

.sidebar .text {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  transition: var(--tran-03);
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text{
  opacity: 0;
}

.sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
  color: var(--text-color);
  transition: var(--tran-02);
}

.sidebar header {
  position: relative;
}

.sidebar .image-text img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

header .image-text .header-text {
  display: flex;
  flex-direction: column;
}

.header-text .name {
  font-weight: 600;
}

.header-text .profession {
  margin-top: -2px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--sidebar-color);
  font-size: 22px;
  transition: var(--tran-03);
}

.sidebar.close header .toggle {
  transform: translateY(-50%);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar .menu {
  margin-top: 35px;
}

.sidebar .search-box {
  background: var(--primary-color-light);
  border-radius: 6px;
  transition: var(--tran-05);
}

.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  background: var(--primary-color-light);
  transition: var(--tran-05);
}

.sidebar li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
  transition: var(--tran-04);
}

.sidebar li a:hover {
  background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}

body.dark.sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-bar .mode {
  position: relative;
  border-radius: 6px;
  background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
}

.menu-bar .mode i {
  position: absolute;
  transition: var(--tran-03);
}

.menu-bar .mode i .sun {
  opacity: 0;
}

body.dark .menu-bar .mode i .sun {
  opacity: 1;
}

body.dark .menu-bar .mode i .moon {
  opacity: 0;
}

.menu-bar .mode .toggle-switch {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 60px;
  cursor: pointer;
  border-radius: 6px;
  background: var(--primary-color-light);
  transition: var(--tran-05);
}

.toggle-switch {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 44px;
  border-radius: 25px;
  background: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background: var(--sidebar-color);
  transition: var(--tran-03);
}

body.dark .switch::before {
  left: 25px;
}

.home {
  position: relative;
  left: 250px;
  height: 100vh;
  width: calc(100% - 88px);
  background: var(--body-color);
  transition: var(--tran-05);
}

.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 8px 40px;
}

.sidebar.close ~ .home {
  left: 88px;
  width: calc(100% - 88px);
}

body.dark .card {
  background: var(--primary-color);
  color: var(--text-color);
}

body.dark input {
  background: var(--primary-color);
  border-color: var(--primary-color);
}

.form-control::placeholder {
  color: #999;
  opacity: 1;
}

body.dark .form-control-card::placeholder {
  color: #ccc;
  opacity: 1;
}

body.dark .form-control-card {
  background: var(--primary-color) !important;
  border-color: #ccc !important;
  color: #ccc !important;
}

body.dark .form-control-card:focus {
  background-color: var(--text-color) !important;
  border-color: #ccc !important;
  color: black !important;
  box-shadow: none;
}

.form-control-card::placeholder {
  color: #999;
  opacity: 1;
}

body.dark .form-control::placeholder {
  color: #ccc;
  opacity: 1;
}

body.dark input[type="date"] {
  color: #f0f0f0;
  background-color: #2a2a2a;
  border-color: #555;
}

body.dark footer {
  background: var(--primary-color);
  color: var(--text-color);
}

footer {
  background-color: var(--primary-color);
  color: var(--primary-color-light);
  padding: 3rem;
}

/* END YOUTUBE */

table {
  width: 100%;
  table-layout: fixed;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.navbar {
    background-color: #163172 !important;
}

.navbar-brand {
    color: #F6F6F6 !important;
    font-size: 1.75rem;
}

.navbar-nav .nav-link {
  color: #F6F6F6 !important;
}

.navbar-nav .nav-link:hover {
  color: #D6E4F0 !important; /* sedikit lebih terang pas hover */
}

.btn-primary {
  background: var(--primary-color) !important;
  border-color: var(--primary-color);
}

.btn-primary:hover {
  background: var(--primary-color-light) !important;
  border-color: var(--primary-color-light)!important;
  color: #000 !important;
}

body.dark .btn-primary {
  background: var(--text-color) !important;
  border-color: var(--text-color) !important;
  color: black !important;
}

body.dark .btn-primary:hover {
  background: black !important;
  border-color: black !important;
  color: white !important;
}

.btn-cancel {
  background: grey !important;
  border-color: grey !important;
  color: white !important;
}

.btn-cancel:hover {
  background: rgb(207, 207, 207) !important;
  border-color: rgb(207, 207, 207) !important;
  color: #000 !important;
}

body.dark .btn-cancel {
  background: rgb(120, 120, 120) !important;
  border-color: rgb(120, 120, 120) !important;
  color: black !important;
}

body.dark .btn-cancel:hover {
  background: rgb(79, 79, 79) !important;
  border-color: rgb(79, 79, 79) !important;
  color: white !important;
}

.btn-secondary {
  background-color: #D6E4F0 !important;
  border-color: #D6E4F0 !important;
  color: black;
}

.btn-secondary:hover {
  background-color: #ffffff !important;
  border-color: white !important;
  color: #D6E4F0 !important;
}

.a-delete:hover {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: red !important;
}

.card {
  border-radius: 16px;
}

.card-img-top {
  padding: 10px;
  height: 10rem;
  width: 100%;
  object-fit: contain;
}

.card-title {
  font-weight: bold;
}

.card-text {
  font-weight: normal;
  text-align: justify;
}

.card-form {
  width: 50rem;
  margin-top: 3rem;
}

.dropdown-item:hover {
  background-color: #163172;
  color: white;
}

.dropdown-item-delete:hover {
  background-color: red !important;
  color: wheat !important;
}

.content-wrapper {
  flex: 1 0 auto;
}